@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

@layer components {
  .modal {
    @apply fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-gray-500 bg-opacity-75;
  }
  .modal-content {
    @apply bg-white rounded-lg p-6;
  }
  .modal-enter {
    @apply animation slideIn 0.2s ease-out;
  }
  .modal-leave {
    @apply animation slideOut 0.2s ease-out;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.color-content {
  @apply p-10 bg-gray-800 text-white text-center;
}
.name {
  @apply text-2xl font-bold sm:text-3xl;
  font-family: "Caveat", cursive;
}
.role {
  @apply mt-2 text-lg font-medium sm:text-2xl italic;
  font-family: "Dancing Script", cursive;
}

