@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

@layer components{
  .link{
    @apply text-indigo-700 hover:text-indigo-800 dark:text-indigo-600 dark:hover:text-indigo-700 text-sm font-sans font-semibold hover:cursor-pointer
  }
}

@layer utilities {
  .image-back {
      background-color: transparent;
opacity: 0.9;
background: linear-gradient(135deg, #3d44de55 25%, transparent 25%) -7px 0/ 14px 14px, linear-gradient(225deg, #3d44de 25%, transparent 25%) -7px 0/ 14px 14px, linear-gradient(315deg, #3d44de55 25%, transparent 25%) 0px 0/ 14px 14px, linear-gradient(45deg, #3d44de 25%, transparent 25%) 0px 0/ 14px 14px;
  }
}

